body {
    background-image: radial-gradient(circle, #fa98ff,#f4fd80,#f5d39f,#665cd1,#dc046b);
    min-height: 100vh;
    margin: 0;
    align-items: center;
}

.text1{
    color:black;
    font-family: courier prime;
    font-weight: bold;
    border: 12px;
    text-align: center;
    margin-top: 50px;

}

.para{
    color: black;
    font-size: 50px;
    font-family:courier prime;
    font-style: italic;
    text-align: center;
    margin-top: 300px;
}

.button1{
    color: black;
    background-color: turquoise;
    font-family: courier prime;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 330px;
    margin-right: 330px;
    border-width: 0.15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button1:hover{
    color: white;
    background-color: #665cd1;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5)
}