body {
    background-image: radial-gradient(circle, #8a8aff,#5c5cff,#2e2eff,#0000ff,#0000d1);
    min-height: 100vh;
    margin: 0;
    align-items: center;
}

.text1{
    color:black;
    font-family: courier prime;
    font-weight: bold;
    border: 12px;
    text-align: center;
    margin-top: 50px;

}

.para{
    color: black;
    font-size: 50px;
    font-family:courier prime;
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}

.button-container{
    display:flex;
    gap: 50px;
    justify-content: center;
}

.button1{
    color: black;
    background-color: turquoise;
    font-family: courier prime;
    font-size: 25px;
    text-align: center;
    border-width: 0.15px;
    padding: 7px;
    width: 150px;
    height: 60px;
}

.buttonReset{
    color: black;
    background-color: turquoise;
    font-family: courier prime;
    font-size: 25px;
    text-align: center;
    border-width: 0.15px;
    padding: 7px;
    width: 150px;
    height: 60px;
}

.button1:hover{
    color: white;
    background-color: #665cd1;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.buttonReset:hover{
    color: white;
    background-color: #665cd1;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.textBox{
    font-family: courier prime;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}

.calculateButton{
    font-family: courier prime;
    background-color: rgb(128, 241, 241);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-radius: 40px;
    width: 200px;
    height: 45px;
}

.calculateButton:hover{
    background-color: #8a82da;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.jsInput{
    padding: 10px;
    font-family: courier prime;
    background-color: rgb(128, 241, 241);
    text-align: center;
    border-width: 0.15px;
    width: 200px;
    height: 25px;
}

.jsInput:hover{
    color:white;
    background-color: #8a82da;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}


.jsTotalCost{
    font-family: courier prime;
    text-align: center;
    font-size: 40px;
}

hr{
    border: black;
    height: 1px;
    background-color: rgb(94, 107, 225);
    padding: 5px;
}

.button-calculator{
    display:flex;
    gap: 50px;
    justify-content: center;
}