body {
    background-image: radial-gradient(circle, #fa98ff,#f4fd80,#f5d39f,#665cd1,#dc046b);
    min-height: 100vh;
    margin: 0;
    align-items: center;
}

.text1{
    color:black;
    font-family: courier prime;
    font-weight: bold;
    border: 12px;
    text-align: center;
    margin-top: 50px;

}

.para{
    color: black;
    font-size: 50px;
    font-family:courier prime;
    font-style: italic;
    text-align: center;
    margin-top: 300px;
}

.button1{
    color: black;
    background-color: turquoise;
    font-family: courier prime;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 730px;
    border-width: 0.15px;
    padding: 10px;
}

.buttonReset{
    color: black;
    background-color: turquoise;
    font-family: courier prime;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 750px;
    border-width: 0.15px;
    padding: 10px;
}

.button1:hover{
    color: white;
    background-color: #665cd1;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.buttonReset:hover{
    color: white;
    background-color: #665cd1;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.jsInput{
    padding: 10px;
    font-family: courier prime;
    background-color: rgb(128, 241, 241);
    text-align: center;
    margin-top: 10px;
    margin-left: 650px;
    border-width: 0.15px;
}

.calculateButton{
    padding: 9px;
    font-family: courier prime;
    background-color: rgb(128, 241, 241);
    text-align: center;
    border-radius: 40px;
}

.calculateButton:hover{
    background-color: #8a82da;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.jsInput:hover{
    color:white;
    background-color: #8a82da;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
}

.textBox{
    font-family: courier prime;
    padding: 5px;
    text-align: center;
}

.jsTotalCost{
    font-family: courier prime;
    text-align: center;
    font-size: 40px;
}